body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body{
  background-color: white;
  width: 100vw;
}
nav{
  background-color: white;
  position: sticky;
  top: 0px;
  width: 100%;
  height: 80px;
  padding: 0px 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav ul{
  width: 700px;
  list-style: none;
  display: flex;
  justify-content: space-between;
}
nav ul li a{
  height: 100%;
  color: black;
  text-decoration: none;
  font-size: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
}
nav ul li a i{
  margin-right: 10px;
}

/* ------------------------------adds------------------------------ */

.ad1{
  width: 90%;
  height: 300px;
  margin: auto;
}
.ad1 img{
  width: 100%;
  height: 100%;
  object-fit: scale-down;
}
.ad2{
  width: 90%;
  height: 300px;
  margin: 10px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.ad2 img{
  width: 30%;
  height: 300px;
  object-fit: scale-down;
}


#loader{
  width: 150px;
  height: 150px;
  margin: 100px auto;
  border-top: solid 3px rgb(77, 77, 255);
  border-left: solid 3px rgb(77, 77, 255);
  border-right: solid 3px transparent;
  border-bottom: solid 3px transparent;
  border-radius: 50%;
  animation: rotate 1s infinite linear;
}
@keyframes rotate {
  from{transform: rotate(0deg);}
  to{transform: rotate(360deg);}
}


.home-cont{
  background-color: white;
  width: 100vw;
}
.grocery-list{
  width: 90%;
  margin: auto;
}
.grocery-list h1{
  text-align: left;
}
.card-list{
  width: 100%;
  height: 350px;
  margin: 20px auto;
  display: flex;
  gap: 20px;
  overflow: scroll;
}
.card-list .card{
  max-width: 230px;
  min-width: 230px;
  height: 350px;
  padding: 10px;
  border-radius: 8px;
  border: solid 1px rgb(121, 121, 121);
}
.card h2{
  font-size: 18px;
  text-align: left;
  margin-top: 10px;
  height: 34px;
  line-height: 18px;
}


.card h3{
  margin: 10px 0px;
  color: gray;
  font-size: 18px;
  font-weight: 400;
  text-align: left;
}
.card a{
  text-decoration: none;
  color: black;
}
.card img{
  width: 100%;
  height: 200px;
  object-fit: scale-down;
}
.card button{
  display: block;
  padding: 7px 15px;
  border-radius: 7px;
  font-size: 17px;
  color: white;
}
.add-btn{
  background-color: rgb(0, 192, 0);
  border: rgb(0, 192, 0) solid 1px;
  transition: 0.3s;
}
.add-btn:active{
  background-color: white;
  color: rgb(0, 192, 0);
}
.rmv-btn{
  background-color: rgb(255, 28, 28);
  border: rgb(255, 28, 28) solid 1px;
  transition: 0.3s;
}
.rmv-btn:active{
  background-color: white;
  color: rgb(255, 28, 28);
}

::-webkit-scrollbar{
  display: none;
}







/* ---------------------------------cart----------------------------------- */

.cart-container{
  width: 100%;
  padding: 20px 80px;
}
.cart-container>h1{
  background-color: white;
  color: rgb(0, 192, 0);
  text-align: left;
  margin: 20px 0px;
  position: sticky;
  top: 80px;
}

.cartitem{
  display: flex;
  height: 350px;
}
.cartitem img{
  height: 100%;
  width: 250px;
  object-fit: scale-down;
}
.cartitem .description{
  margin-left: 50px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
}
.cartitem .description button{
  background-color: rgb(0, 192, 0);
  padding: 10px 14px;
  border: none;
  color: white;
  font-size: 20px;
  margin: 0px 10px;
}



/* ----------------add grocery---------------------------------- */

.add-grocery-cont{
  padding: 20px 80px;
}
.add-grocery-cont form{
  background-color: rgb(195, 227, 255);
  padding: 15px;
  width: 700px;
  height: auto;
  margin: 6px auto;
  border-radius: 8px;
}
.inp-grp{
  width: 80%;
  height: 40px;
  margin:  10px auto;
  display: grid;
  grid-template-columns: 40% 60%;
}
.inp-grp input , select , textarea{
  border: none;
}

.add-grocery-cont form input[type="submit"]{
  background-color: black;
  padding: 6px 18px;
  border:  solid 1px black;
  color: white;
  font-size: 18px;
}
.add-grocery-cont form input[type="submit"]:active{
  background-color: white;
  color: black;
}



/* ----------------search------------------ */
.searchbar{
  margin: 30px auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.searchbar label{
  font-size: 28px;
  font-weight: 600;
  margin-right:20px ;
}
.searchbar input{
  width: 500px;
  height: 50px;
  font-size: 20px;
  padding-left: 10px;
  border: solid 1px rgb(77, 77, 255);
  border-radius: 6px;
}
.searchbar input:focus{
  border: solid 1px rgb(77, 77, 255);
  outline: solid 2px rgba(165, 165, 255, 0.459);
}





.description{
  padding: 20px 80px;
  display: flex;
}
.g-img{
  width: 400px;
  height: 400px;
}
.g-img img{
  width: 100%;
  height: 100%;
  object-fit: scale-down;
}
.delete-btn{
  background-color: rgb(255, 28, 28);
  padding: 8px 20px;
  margin: 10px auto;
  border: solid 1px rgb(255, 28, 28);
  border-radius: 4px;
  font-size: 18px;
  color: white;
}
.delete-btn:active{
  background-color: white;
  color: rgb(255, 28, 28);
}
.update-btn{
  background-color: rgb(77, 77, 255);
  padding: 8px 20px;
  margin: 10px;
  border: solid 1px rgb(77, 77, 255);
  border-radius: 4px;
  font-size: 18px;
  color: white;
}
.update-btn:active{
  background-color: white;
  color: rgb(77, 77, 255);
}

/* ---------------update------------- */

.update-grocery-cont{
  padding: 20px 80px;
  background-color: rgba(0, 0, 0, 0.439);
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(10px);
  position: absolute;
  top: 0px;
  left: 0px;
  animation: pop 0.2s linear;
}
@keyframes pop {
  from{transform: scale(0);}
  to{transform: scale(1)}
}
.update-grocery-cont form{
  background-color: rgb(195, 227, 255);
  padding: 15px;
  width: 700px;
  height: auto;
  margin: 6px auto;
  border-radius: 8px;
}
.inp-grp{
  width: 80%;
  height: 40px;
  margin:  10px auto;
  display: grid;
  grid-template-columns: 40% 60%;
}
.inp-grp input , select , textarea{
  border: none;
}

.update-grocery-cont form input[type="submit"]{
  background-color: black;
  padding: 6px 18px;
  border:  solid 1px black;
  color: white;
  font-size: 18px;
}
.update-grocery-cont form input[type="submit"]:active{
  background-color: white;
  color: black;
}
